.darken {
	display:none;
	position:fixed;
	z-index:14;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.3;
}

.waitas {
	display:none;
	z-index:15;
	
}

.images-div{
	border-style:solid;
	border-width:1px;
	border-color:lightGrey;
	background-color:whiteSmoke;
	width:100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
}
@media (max-width: 450px) {
	.images-div{
		margin-top:0;
		border-style:none;
		background-color:white;
	}
}

.img-div-avatar{
	border-style:solid;
	border-width:1px;
	border-color:lightGrey;
	background-color:white;
	width:150px;
	height:150px;
	position:relative;
	margin:12px;
	display:inline-block;
	vertical-align:top;
	border-radius:5px;
	
	-webkit-transition: opacity 0.5s, width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s, width 0.5s;
}

.img-div{
	border-style:solid;
	border-width:1px;
	border-color:lightGrey;
	background-color:white;
	width:140px;
	height:105px;
	position:relative;
	margin:12px;
	display:inline-block;
	vertical-align:top;
	border-radius:5px;
	
	-webkit-transition: opacity 0.5s, width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s, width 0.5s;
}
@media (max-width: 768px) {
	.img-div{
		margin:8px;
		width:132px;
		height:99px;
	}
}
@media (max-width: 450px) {
	.img-div{
		margin:0;
		margin-right:8px;
		margin-bottom:8px;
		width:160px;
		height:120px;
	}
}
@media (max-width: 375px) {
	.img-div{
		width:144px;
		height:108px;
	}
}
@media (max-width: 360px) {
	.img-div{
		width:132px;
		height:99px;
	}
}
@media (max-width: 320px) {
	.img-div{
		width:116px;
		height:87px;
	}
}


.mygt{
	cursor:pointer;
	width:26px;
	height:26px;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	border-radius:50%;
	background-color:whiteSmoke;
	opacity:0.8;
}

.mygt-left{
	position:absolute;
	top:5px;
	left:5px;
}
.mygt-right{
	position:absolute;
	top:5px;
	right:5px;
}
.mygt-left-bottom{
	position:absolute;
	bottom:5px;
	left:5px;
}

.mygt-center{
	position:absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.symb{
	color:grey;
	font-size:20px;
	position:absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-avatar {
	width:100%;
	height:100%;
	border-radius:5px;
}

.img {
	width:100%;
	height:100%;
	border-radius:5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 50;
    top: 50;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	
}

/* Modal Content */
.modal-content {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
	z-index:50;
}

.close2 {
    color: #aaaaaa;
	position:fixed;
	top:25px;
	right:25px;
    font-size: 50px;
    font-weight: bold;
	z-index: 15;
	cursor:pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.m_title{
	color: #aaaaaa;
	position:fixed;
	top:5px;
	left:10%;
	font-size:16px;
	z-index: 15;
}

.m_number{
	color: #aaaaaa;
	position:fixed;
	top:5px;
	left:50%;
	font-size:16px;
	z-index: 15;
}

.m_image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
	border: 1px solid blue;
	opacity:0;
}

.bottom-id{
	color:silver;
	transform: translate(0, 15px);
	text-align: right;
	margin-right:20px;
}

.report_ad_button{
	position:Absolute;
	right:0;
}

.report_ad_content{
	padding:32px;
	padding-top:16px;
	padding-bottom:16px;
	color:grey;
	background:white;
	opacity:0.9;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	opacity:0.9;
	
}

.close_report {
    color: #aaaaaa;
	position:fixed;
	top:3px;
	right:7px;
    font-size: 25px;
    font-weight: bold;
	z-index: 15;
	cursor:pointer;
}
.close_report:hover,
.close_report:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.reason_input{
	border
}

input[type=text],input[type=number], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control1 {
	height:32px;
}

.form-control1-cur {
	width:68px;
	color:grey;
	margin-left:10px;
	position:absolute;
	display:inline-block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: silver;
}
::-moz-placeholder { /* Firefox 19+ */
  color: silver;
}
:-ms-input-placeholder { /* IE 10+ */
  color: silver;
}
:-moz-placeholder { /* Firefox 18- */
  color: silver;
}
.post_ad_success{
	color:steelBlue;
	font-weight:bold;
}

.home_banner {
	margin:auto;
	margin-bottom:20px;
	padding:8px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	width:80%;
	background-color:rgba(255, 255, 255, 0.2);
}
.home_banner h3{
	color:white;
	font-size:22px;
	margin-bottom:5px;
}
.home_banner p{
	color:white;
	font-size:18px;
	margin-bottom:5px;
}
#post_ad{
	color:rgba(220,220,255,1);
}
#post_ad:hover{
	color:rgba(220,220,220,1);
	text-weight:900;
}